<div class="row">
    <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
        <h4>Welcome</h4>
        <img src="../../assets/dvhome.png" alt="" height="300">
        <p class="tagline">Best decisions come when u pair up.</p>
        <p class="tagline">Grab a partner, let it be your friend, lover, collegue or stranger.</p>
        <p class="tagline"> Create a shared account here, plan like Dasan and Vijayan. Share, improvise, grow, and
            implement all your ideas, dreams and plans.</p>
        <h3 class="my-3">Be like Daasan and Vijayan !</h3>
    </div>
    <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</div>